.logo {
    height: 10%;
    width: 20%;

    margin-left: 40%;


}

.fondhaut {
    background-color: #6A5536;
}

.navv {
    background-color: #cbcbcb;
}

.prof {
    float: right;
}

.rec {
    background-color: black;
    color: white;
}

.nw {
    color: black;
}

